& {
  --tg-theme-hint-color: #aaa;
  --tg-theme-secondary-bg-color: #181818;
  --tg-theme-text-color: #fff;
  --tg-theme-bg-color: #212121;
  --tg-theme-section-bg-color: #212121;
  --tg-theme-button-color: #2b8cee;
  --tg-theme-button-text-color: #fff;
  --tg-theme-link-color: #2d84ff;
  --stroke-separator: #ffffff11;
  --skeleton-bg: var(--tg-theme-hint-color);
  --input-active: var(--tg-theme-secondary-bg-color);
}
